body {
  background: url("../media/daytimeSky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins, sans-serif;
}
.dark {
  color: black;
  background: url("../media/nighttimeSky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.css-container {
  max-width: 100%;
  width: 800px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 80px auto 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: Poppins, sans-serif;
  font-weight: lighter;
}

ul {
  list-style: none;
  margin: 70px 0 0;
}
.form-control {
  margin: 0 0 15px;
}

.temperature {
  margin: 10px 0 0;
}

.city {
  margin: 15px 0 0;
  text-transform: capitalize;
  font-size: 25px;
  opacity: 0.7;
}
.temp-value {
  display: inline;
  font-size: 50px;
}

.degree {
  font-size: 15px;
  position: relative;
  top: -25px;
}

.description {
  text-transform: capitalize;
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.degreeFahrenheit,
.degreeCelsius {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.degreeFahrenheit:hover,
.degreeCelsius:hover {
  text-decoration: underline;
}
.btn {
  color: #38598b;
  border: 1px solid #38598b;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #38598b;
}

.dark .btn {
  border: 1px solid black;
  color: black;
  background: rgba(255, 255, 255, 0.2);
}

.dark .btn:hover {
  background: #222831;
  color: white;
}

.dark .degreeFahrenheit,
.dark .degreeCelsius {
  color: #27296d;
}

footer {
  text-align: center;
  font-weight: lighter;
  margin: 0;
  font-style: italic;
}
.dark footer {
  color: white;
}
.footer-link {
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.dark .footer-link {
  color: #007cb9;
}

.weather-forecast {
  margin: 40px 0 0;
}
.date {
  text-align: center;
  line-height: 10px;
  font-weight: lighter;
}

.forecast-degrees {
  text-align: center;
  line-height: 10px;
}

.forecast-image {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 70px;
}
