body {
  background: url("../media/daytimeSky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.dark {
  color: black;
  background: url("../media/nighttimeSky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.css-container {
  max-width: 100%;
  width: 800px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: Poppins, sans-serif;
  font-weight: lighter;
}

ul {
  list-style: none;
  margin: 70px 0 0;
}
.form-control {
  margin: 0 0 15px;
}

.temperature {
  margin: 10px 0 0;
}

.city {
  margin: 15px 0 0;
  text-transform: capitalize;
  font-size: 35px;
}
.temp-value {
  display: inline;
}

.degree {
  font-size: small;
  position: relative;
  top: -18px;
}

.description {
  text-transform: capitalize;
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.degreeFahrenheit,
.degreeCelsius {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.degreeFahrenheit:hover,
.degreeCelsius:hover {
  text-decoration: underline;
}
.btn {
  color: #38598b;
  border: 1px solid #38598b;
}
.btn:hover {
  background: #38598b;
}
